body.anvil-show-banner #anvil-header {
    display: none;
}

body.anvil-show-banner {
    margin-top: 0px;
}


.form-background {
    background-color: #131313; /* Use your desired background color here */
    height: 100vh; /* Ensure it covers the full viewport height */



.anvil-role-dark-mode {
  background-color: #121212 !important;
  color: #ffffff !important;
}

.anvil-role-dark-mode button {
  background-color: #333333 !important;
  color: #ffffff !important;
}

.anvil-role-light-mode {
  background-color: #ffffff !important;
  color: #121212 !important;
}

.anvil-role-light-mode button {
  background-color: #ffffff !important;
  color: #121212 !important;
}